#root {
  background-color: #282c34;
}

.writing {
  animation: typing 1s linear;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
